* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.wordle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border-bottom: 2px solid #333;
  padding: 15px;
}

.hidden {
  visibility: hidden;
}

.loading {
  font-size: 40px;
  transform: rotate(12deg);
  animation: spin 1.5s linear infinite;
  margin: 5px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px;
}

.board-letter {
  height: 45px;
  width: 45px;
  border: 3px solid #ccc;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}
